.header { background: $head-bg;
          z-index: 10;}

.header-inner { position: relative; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
